<web-app>   
    <servlet>
        <servlet-name>h1</servlet-name>
        <servlet-class>h1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>h1</servlet-name>
        <url-pattern>/url1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>h2</servlet-name>
        <servlet-class>h2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>h2</servlet-name>
        <url-pattern>/url2</url-pattern>
    </servlet-mapping>
</web-app>   
