.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.background{
    background-color:black;
    color:whitesmoke;
}
h1:hover{
    color:bisque;
}
